{% load static %}

<!-- jQuery library -->
<script src="{% static 'jquery.min.js' %}"></script>

<!-- Bootstrip JavaScript -->
<script src="{% static 'bootstrap.min.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.5.3/bootstrap-slider.min.js"></script>

{#<!--- chartjs Plot plugin -->#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>

<!-- custom files -->
<script type="text/javascript" src="{% static 'election.js' %}"></script>
