{% extends 'base.html' %}
{% load static %}

{% block title %}
    Election Computing System
{% endblock %}

{% block content %}
    <div class="alert alert-info">
        {% if user.is_authenticated %}
            <p> Logged in as {{ user }}. Click on "Your elections" to start</p>
        {% else %}
            <p> Log in or register in order to create elections </p>
        {% endif %}
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            System for Computing Election Results According to Generalized k-Borda System.
        </div>

        <div class="panel-body">
            <p>
                Engineering thesis created on the Faculty of Computer Science, Electronics and Telecomunications,
                AGH University of Science and Technology in Cracow
            </p>

            <p>Supervisor: Piotr Faliszewski, PhD</p>

            <p>Authors: </p>
            <ul>
                <li>Tomasz Kasprzyk</li>
                <li>Daniel Ogiela</li>
                <li>Jakub Stępak</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            Source code
        </div>

        <div class="panel-body">
            <p>
                Source code is available on <a href="https://github.com/jakubste/election-computing-system"
                                               title="Source code">Github</a>.
            </p>
            <p>
                <a href="https://github.com/jakubste/election-computing-system/tree/master/docs" title="Documentation">Documentation</a>
                (in Polish) is available on Github as well.
            </p>
        </div>
    </div>


{% endblock %}

