{% extends 'base.html' %}
{% load static %}

{% block title %}
    Election Computing System
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p> Logged in as {{ user }}. Click on "Your elections" to start</p>
    {% else %}
        <p> Log in or register in order to create elections </p>
    {% endif %}
{% endblock %}

{% block description %}
    <div class="jumbotron">
        <p>System for Computing Election Results According to Generalized k-Borda System.</p>
        <br>
        <p>Engineering thesis created on the Faculty of Computer Science, Electronics and Telecomunications, </p>

        <br>
        <p>Field of study: Computer Science</p>
        <p>Supervisor: Piotr Faliszewski, PhD</p>
        <br>

        <p>Authors: </p>
        <p>Tomasz Kasprzyk</p>
        <p>Daniel Ogiela</p>
        <p>Jakub Stępak</p>
        <br>
    </div>
{% endblock %}

{% block footer %}
    <div class="col-md-12">
        <ul class="social-network social-circle">
            <li>
                <a href="https://github.com/jakubste/election-computing-system" class="icoGitHub" title="GitHub">
                    <i class="fa fa-github"></i>
                </a>
            </li>
        </ul>
    </div>
{% endblock footer %}
