{% extends 'base.html' %}
{% load static %}
{% block title %}
    Mark voters and candidates
{% endblock %}

{% block content %}
    <!--- threejs for paint -->
    {% csrf_token %}
    <canvas id="ecs-paint" width="1000" height="1000"></canvas>

    <script>
        var FONT_SRC = "{% static 'gentilis_regular.typeface.json' %}";
        var PAINT_VIEW = "{%  url 'elections:election_paint' election.pk %}"
    </script>

    <script>
        var csrftoken = "{{ csrf_token }}";
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(".spoiler-trigger").click(function () {
            $(this).parent().next().collapse('toggle');
        });

    </script>

    <div class="row">
        <div class="panel panel-primary col-xs-10">
            <div class="panel-body">
                <ul>
                    <li>Press C to draw candidates</li>
                    <li>Press V to draw voters</li>
                    <li>Press +/- to change marker size</li>
                    <li>Candidates: <span id="candidates">0</span>/<span id="candidates_limit"></span></li>
                    <li>Voters: <span id="voters">0</span>/<span id="voters_limit"></span></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-2">
            <button type="submit" class="btn btn-primary" onclick="getPaintedData(PAINT_VIEW)">Save and proceed
            </button>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'three.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ECSPaint.js' %}"></script>

{% endblock %}
