{% extends 'base.html' %}

{% block title %}
    {{ election }}
{% endblock %}

{% block content %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
    {% endfor %}

    <p>
        committee size: {{ election.committee_size }}
    </p>

    {% if election.is_generated %}
        <div id="results-slider-wrapper">
            <input id="results-slider"
                data-slider-id='results-slider' type="text"
                data-slider-min="0" data-slider-max="{{ results_number }}"
                data-slider-step="1" data-slider-value="0"
                data-results-pks="{{ results_pks }}"
                data-results-p-params="{{ results_p_params }}"
                data-results-descriptions="{{ results_descriptions }}"
            >
        </div>
    {% endif %}

    {% if not election.is_set_up %}
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-info-sign"></span>
            You should add voters and candidates!
        </div>

        <div class="btn-group btn-group-lg btn-group-justified" role="group">
            <a href="{% url 'elections:election_load_data' election.pk %}" class="btn btn-info" role="button">
                <span class="glyphicon glyphicon-upload" style="font-size: 4em"></span><br>
                Load data from file (.soc PrefLib format)
            </a>
            <a href="{% url 'elections:election_generate' election.pk %}" class="btn btn-info" role="button">
                <span class="glyphicon glyphicon-equalizer" style="font-size: 4em"></span><br>
                Generate election from normal distribution
            </a>
        </div>
    {% else %}

        {% if election.is_generated %}

            <h2>Chart</h2>
            <div class="container">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <canvas id="election_chart" data-url="{% url 'elections:chart_data' election.pk %}"
                            width="580" height="580"></canvas>
                </div>
                <div class="col-md-2"></div>
            </div>

        {% endif %}

        <h2>Available results</h2>

        {% regroup results by p_parameter as p_list %}

        <table class="table">
            <thead class="bg-primary">
            <tr>
                <th>p parameter</th>
                <th>Algorithm</th>
                <th>Time</th>
                <th data-toggle="tooltip" title="This value should be compared only between results with the same p parameter!">
                    Committee score <span class="glyphicon glyphicon-info-sign"></span>
                </th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for results_group in p_list %}

                {% for result in results_group.list %}
                    <tr {% if forloop.parentloop.counter|divisibleby:2 %}class="bg-warning"{% endif %}>
                        <th scope="row">{{ result.p_parameter }}</th>
                        <td>{{ result.get_algorithm_display }}</td>
                        <td>
                            {% if result.winners.count %}
                                {{ result.time|floatformat:2 }} s
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if result.winners.count %}
                                {{ result.score|floatformat:2 }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ result.get_absolute_url }}">
                                <button class="btn btn-info btn-xs">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </a>
                            <a href="{% url 'elections:result_delete' result.pk %}">
                                <button class="btn btn-danger btn-xs">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'elections:result_create' election.pk %}">
            <button class="btn btn-success">
                Add new result
            </button>
        </a>

        {% if voters %}
            <h2>Voters listing</h2>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#voters_panel">Collapse/expand voters listing</a>
                        </h4>
                    </div>
                    <div id="voters_panel" class="panel-collapse collapse">
                        {% for voter in voters %}
                            <div class="panel-body">
                                <strong>{{ voter.repeats }}</strong>x
                                {% for preference in voter.preferences.all %}
                                    {{ preference.preference }}&nbsp;-&nbsp;{{ preference.candidate }}&nbsp;[
                                    {{ preference.candidate.soc_id }}]{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <div class="panel-footer">
                            <p>Listing format:<br>
                                <code>
                                    <strong>:vote_repeats:</strong> x :preference_index: - :candidate_name:
                                    [:candidate_id:],
                                    :preference_index: - :candidate_name: [:candidate_id:], …
                                </code>
                            </p>
                            <p>
                                Example:
                                <br>
                                <code>
                                    <strong>7</strong>x 1 - John Snow [2], 2 - Daenerys [1], 3 - Cersei [3]
                                </code><br>
                                means there are 7 voters that choose John Snow in the first place, Danearys the second
                                and
                                Cersei as the last candidate in their preference.
                                <br>
                                Daenerys has id 1 in database (John Snow has 2 and Cersei has 3).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
