{% extends 'base.html' %}

{% block title %}
    Load data from .soc file
{% endblock %}

{% block content %}

    <form action="" method="post" class="form-horizontal" enctype='multipart/form-data'>

        {% csrf_token %}

        {% for field in form %}
            {% include '_field.html' with field=field %}
        {% endfor %}

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary">Load data</button>
            </div>
        </div>

    </form>

{% endblock %}
