{% extends 'base.html' %}

{% block title %}
    Your elections
{% endblock %}

{% block content %}
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Candidates</th>
            <th>Voters</th>
            <th>Results</th>
            <th>Actions</th>
        </tr>
        {% for election in elections %}
            <tr>
                <td>
                    <a href="{{ election.get_absolute_url }}">
                        {{ election }}
                    </a>
                </td>
                <td>
                    {{ election.candidates.count }}
                </td>
                <td>
                    {{ election.voters.count }}
                </td>
                <td>
                    {{ election.results.count }}
                </td>
                <td>
                    <a href="{% url 'elections:election_delete' election.pk %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <p style="float:right">
        <a href="{% url 'elections:election_create' %}">
            <button type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
                New election
            </button>
        </a>
    </p>

{% endblock %}
