{% extends 'base.html' %}

{% block title %}
    Delete election "{{ object }}"
{% endblock %}

{% block content %}

    <form action="" method="post" class="form-horizontal">

        {% csrf_token %}

        <div class="alert alert-danger">Do you really want to delete this elections?</div>

        <div class="form-group">
            <div style="text-align: center">
                <button type="submit" class="btn btn-danger">Yes, delete this.</button>
                <a href="{% url "elections:election_list" %}">No, cancel.</a>
            </div>
        </div>

    </form>

{% endblock %}
