{% extends 'base.html' %}

{% block title %}
    {{ election }}
{% endblock %}

{% block content %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
    {% endfor %}

    <p>
        committee size: {{ election.committee_size }}
    </p>
    {% if not election.is_set_up %}
        You should add voters and candidates!<br>
        <a href="{% url 'elections:election_load_data' election.pk %}">Load data from file (.soc PrefLib format)</a><br>
        <a href="{% url 'elections:election_generate' election.pk %}">Generate election from normal distribution</a><br>
    {% endif %}

{% endblock %}
